<div *ngIf="isOpen" class="modal-artesao" (click)="handleBackgroundClick($event)">
    <div class="container-artesao">
      <div class="titulo">
        <h1>Cadastre um cliente</h1>
      </div>
        <img class="imagem" src="./assets/images/produtos/perfil.png"/>
      <form>  
        <div class="texto">
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="cliente.nome" name="nome"  placeholder="Digite o nome"/>
        </div>
        
        <div class="texto">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" [(ngModel)]="cliente.telefone" (input)="formatarTelefoneInput($event)" name="valor" placeholder="Digite o telefone" />
    </div>
      </form>
      <button (click)="cadastraCliente()">Cadastrar</button>
    </div>
  </div>
  