
<div class="sidebar" [class.open]="isSidebarOpen">
  <div class="sidebar-toggle">
    <button (click)="toggleSidebar()">
      <span class="icon-arrow" [ngClass]="{'down': !isSidebarOpen, 'up': isSidebarOpen}"></span>
    </button>
  </div>
  <ul class="sidebar-list"[class.open]="isSidebarOpen">
    <li><a href="/produtos">Produtos</a></li>
  </ul>
  <ul class="sidebar-list">
    <li><a href="/clientes">Clientes</a></li>

  </ul>
  <div class="perfil" (click)="AtivaModal()">
    <h1>Olá, {{artesao.nome}}</h1>
    <img src="./assets/images/produtos/perfil.png" alt="">
  </div>
  <app-modal-perfil
            *ngIf="openModal"
            [isOpen]="openModal"
            [closeModal]="FechaModal"
            [artesao]="artesao"
            (usuarioAlt)="ngOnInit()"
  
  ></app-modal-perfil>
</div>

