@font-face {
    font-family: art ;
    src: url(../../../../public/assets/fonts/art.ttf);
}
@font-face {
    font-family: bebas ;
    src: url(../../../../public/assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: poppins ;
    src: url(../../../../public/assets/fonts/Poppins-Medium.ttf);
}

.sidebar {
  position: fixed;
  top: -100%; 
  left: 0;
  width: 100%;
  height: 13vh; 
  background-color: #2b2415;
  color: #fff;
  transition: top 1s ease; 
  border-radius: 0px 0px 20px 20px; 
  z-index: 1;
  display: flex;
  flex-direction: row;
 
  justify-content: center;

  .perfil{
    border-radius: 10px;
    height: 8vh;
    width: 21vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute; 
    right: 2vw; 
    gap: 10px;
    margin-top: 15px;

    cursor: pointer;

    h1{
      font-family: poppins;
      font-size: clamp(0.5rem,1rem,2rem);
      color: white;
    }
    img{
      width: 100%;
      max-width: 3vw;
      height: auto;
    }
  }
  .perfil:hover{
    background-color: rgba(255, 255, 255, 0.63);

    h1{
      color: #2b2415;
    }
  }

  .sidebar-toggle {
    top: 0px; /* Posiciona o botão inicialmente fora da tela */
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s ease; /* Sincroniza com a barra */

    button {
      background: transparent;
      cursor: pointer;
    }
  }

  .sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    opacity: 0; 
    transform: translateY(-20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
  }

  .sidebar-list li {
    padding: 10px;
    text-align: center;
  }

  .sidebar-list a {
    width: 20vw;
    color: black;
    text-decoration: none;
    display: block;
    background-color: white;
    border-radius: 6px;
    font-size: clamp(0.5rem, 1rem, 3rem);
    font-family: art;
  }

  .sidebar-list a:hover {
    background-color: #dbd5c4;
  }
}


.icon-arrow {
  display: inline-block;
  background-color: none;
  width: 30px; /* Define a largura */
  height: 30px; /* Define a altura */
  transition: transform 1s ease; /* Animação suave */

  &.down {
    transform: rotate(0deg); /* Estado inicial */
    background: url("../../../../public/assets/images/produtos/seta.png") no-repeat center center;
    background-size: contain; /* Redimensiona a imagem */
  }

  &.up {
    transform: rotate(180deg); /* Rotacionado */
    background: url("../../../../public/assets/images/produtos/sinal-de-seta-para-baixo-para-navegar\ 1.png") no-repeat center center;
    background-blend-mode: multiply;
    background-size: contain; /* Redimensiona a imagem */
  }
}
.sidebar.open {
  top: 0;
  .sidebar-list {
    opacity: 1; 
    transform: translateY(0); 
  }
  button{
    top:100;
  }
  .sidebar-toggle {
    top: 12vh; /* O botão desce junto com a barra */
  }
}


.sidebar-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10; 
}

.sidebar-toggle button {
  background: none;
  border: none;
  color: #aa2934;
  font-size: 30px;
  cursor: pointer;
}

  