<div class="page-clientes">
    <app-sidebar></app-sidebar>
    <h1>Clientes</h1>
    <div class="input">
        <input
         type="text" 
         placeholder="Pesquise pelo nome do cliente" 
         name="" 
         id=""
         [(ngModel)]="searchText" 
        (ngModelChange)="filterItems()" >
        <button (click)="AtivaModal()">Add</button>
        <app-modal-cliente
            *ngIf="openModal"
            [isOpen]="openModal"
            [closeModal]="FechaModal"
            (clienteCadastrado)="onProdutoCadastrado()">
        </app-modal-cliente>
    </div>
    <div class="container-clientes">
        <div  *ngFor="let item of filteredItems">
            <app-cliente
            [id]="+item.id"
            [nome]="item.nome || '' "
            [telefone]="item.telefone || '' "
            (produtoDeletado)="onProdutoCadastrado()"
            (produtoAlterado)="onProdutoCadastrado()">
        </app-cliente>
        </div>    
    </div>
</div>
