
@font-face {
    font-family:poppins ;
    src: url("../../../../public/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family:arch ;
    src: url("../../../../public/assets/fonts/Archivo-VariableFont_wdth\,wght.ttf");
}
@font-face {
    font-family:bebbas ;
    src: url("../../../../public/assets/fonts/BebasNeue-Regular.ttf");
}
@font-face {
    font-family:art ;
    src: url("../../../../public/assets/fonts/art.ttf");
}




.componente-cliente{
    background-color:#f1f1f1;
    border-radius: 8px;
    height: 100px;
    width: 100% ;
    max-width: 80vw;
    margin: 20px;
    font-family: bebbas;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;



    .container-cliente{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        align-items: center;
        height: 100px;
        cursor: pointer;

        .informacoes{
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;
            gap: 200px;
        }

        .botoes{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 10vh;
            gap: 10px;
           

            button{
                background-color: transparent;
                border: none;
                width: 100%;
                max-width: 6vw;
                height: 6vh;
                cursor: pointer;
                
                
               

                img{
                width: 100%;
                max-width: 3vw;
                height: 6vh;
                }
            }
            img{
                width: 100%;
                max-width: 3vw;
                height: 6vh;
                }
        }

        .arte{
            display: flex;
            flex-direction: row;
            width: 10%;
            align-items: center;
            justify-content: space-between;

            .logo{
            width: 100%;
            max-width: 3vw;
            height: auto;
            border-radius: 100vw;
            
            }
            .lixo{
            width: 100%;
            max-width: 3vw;
            padding: 5px;
            border-radius: 5px;
            height: auto;
            cursor: pointer;
            }
            .lixo:hover{
                background-color: #cac9c9;
            }
        }

        .imagem{
            width: 100%;
            max-width: 5vw;
            height: auto;
            
        }
        h1{
            font-family: art;
            font-size: clamp(0.1rem,1.8rem,3rem);
        }
        h2{
            font-size: clamp(0.1rem,1.4rem,3rem);
        }

        


        
    }
}